[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
django-bootstrap3 = "*"

[requires]
python_version = "3.8"
